*{
    padding: 0;
    margin: 0;
}
/*Css de header*/

header{
    width: 100%;
    height: 200px;
    background-color: rgb(233, 221, 202);

}

h1{
    font-family:cursive;
    font-size: 50px;
    letter-spacing: 0,3em;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 40%;
    }

/* css del main*/
main{
    width: 70%;
    display:flex;
    background-color: rgb(255, 253, 240);
    flex-direction: column;
    position: relative;
    left: 0;
    top: 100px;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    }

h2{
    text-align: center;
}

.img-fondo{
        display: flex;
        align-items: center;
        justify-content: center;
}

.titulo2{
    display: flex;
    text-align: center;
    
    position: relative;
    top:20px;
}

#p_ordena{
    text-align: justify;
    position: relative;
    top: 10px;
}

.ofrecemos{
    text-align: justify;
    position: relative;
    top: 10px;

}

/*css de link pedido*/
.prep{
    width: 90%;
    height: 100vh;
    display: flex;
    position: relative;
    left: 20px;
    top: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
h2.prep1{
    text-align: center;
    
}

.p_prep{
    width: 100%;
    height: 30%;
    display: flex;
    position: absolute;
    top: 100px;
        
}

.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    }

.form input{
    width: 90%;
    height: 40px;
           
}

/* Css del aside*/
aside{
    width: 30%;
    
    background-color: beige;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    

    display:flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 300px;
    

}

.titulo{
   text-align: center;
   margin-top: 10px;
}

#torta{
    text-align: center;
    margin-top: 10px;
}

#r_torta{
    width: 95%;
    text-align: justify;
    font-size: 20px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;

}

.receta1{
    font-size: 15px;
    margin-top: -10px;
}

/*Css del footer*/

footer{
    width: 100%;
    height: 170px;
    background-color: rgb(233, 221, 202);
    font-size: 15px;
}

/*Css link contacto*/
.rd{
    
    text-align: center;
    font-size: 20px;
   margin-top: 100px;

}
.redes{
    width: 100%;
    height: 15%;
    font-size: 30px;
    text-align: center;
}
.cont{
    text-align: center;
    font-size: 20px;
}
.contacto{
    width: 100%;
    height: 15%;
    font-size: 30px;
    text-align: center;
}
    

   